.banner {
    background-image: url(../../assets/imgs/html-css);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
    border-bottom: 10px solid black;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin-bottom: 40px;
    margin-top: 115px;
    margin-left: 90px;
}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    justify-content: space-evenly;
}