.banner {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 925px;
    border-bottom: 10px solid black;
    padding-left: 90px;
    padding-top: 115px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 650px;
}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    justify-content: space-evenly;
}