.button-arrow {
    width: 50px;
    height: 50px;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px black;
    cursor: pointer;
    transition: transform 200ms, opacity 200ms ease-in-out;
}

.button-arrow .content {
    display: none;
}

.button-arrow:hover {
    transform: scale(0.9);
    opacity: 0.85;
}

.button-arrow::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 24px solid white;
    transform: translateX(7px);
}

.button-arrow.-left::before {
    transform: rotate(180deg) translateX(13px);
}