.main-carousel {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 90px;
    padding-right: 90px;
}

.main-carousel::after {
    display: block;
    position: absolute;
    left: 75px;
    top: 35px;
    content: "";
    height: 4px;
    width: calc(100% - 150px);
    background-color: black;
}

.main-carousel::before {
    display: block;
    position: absolute;
    left: 0px;
    top: 35px;
    content: "";
    height: 0px;
    width: 40px;
    width: calc(100%);
    border: 2px dashed black;
    box-sizing: border-box;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}