.main-banner {
    box-sizing: border-box;
    height: 925px;
    border-bottom: 10px solid black;
    padding-left: 90px;
    padding-top: 115px;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 650px;
}

.main-banner .box {
    margin-bottom: 40px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-evenly;
}