.main-button {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px black;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 200ms, opacity 200ms ease-in-out;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.main-button:hover {
    transform: scale(0.9);
    opacity: 0.85;
}

.main-button.-second {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.main-button.-second .triangle-left {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right:25px solid white;
}

.main-button.-second .triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid white;
}