.skills-tech {
    display: flex;
    font-family: "Press Start 2P", "Arial", "Helvetica", "sans-serif";
    color: white;
    font-size: 25px;
    align-items: center;
}

.skills-tech .icon {
    margin-right: 20px;
    width: 90px;
}