.skills {
    background-color: #F25A70;
    height: 740px;
    border-bottom: 10px solid #7C5E99;
}

.skills .title {
    font-family: "Press Start 2P", "Arial", "Helvetica", "sans-serif";
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 50px;
    text-shadow: none;
}